# Ignore files and directories in the client folder
client/dist/
client/*.local/


# Ignore node_modules directory
client/node_modules/
server/node_modules/

# Ignore environment variables file
client/.env
server/.env